<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body ng-app="App" ng-controller="Controller">
    
	<img src="D:/Lenguajes de 4/www/img/choco2.jpg" alt = “nombre alternativo” align= “” border=“” height=“” width=“”>
			
			</br></br>
			<h3>OPCIONES</h3>

				<table class="table table-bordered">
					<tr>

						<td class="col-xs-1">
							Trufas
						</td>
						<td class="col-xs-1">
							Bombones
						</td>
						<td class="col-xs-1">
							Marsmelos cubiertos de chocolate
						</td>
					</tr>
					<tr>
						<td class="col-xs-1">
							Queque de chocolate
						</td>
						<td class="col-xs-1">
							Chocolate blanco
						</td>
						<td class="col-xs-1">
							Chocolate amargo
						</td>
					</tr>
					<tr>

					    <td class="col-xs-1">
							Chocolate con semillas
						</td>
						<td class="col-xs-1">
		    				Frutas con cobertura de chocolate
						</td>
						<td class="col-xs-1">
							Fondat de chocolate
						</td>
						</tr>
						<tr>

						<td class="col-xs-1">
							Chocolate organico
						</td>
						<td class="col-xs-1">
							Cupcake de chocolate
						</td>
						<td class="col-xs-1">
							Mousse de chocolate
						</td>
						</tr>
						<tr>

						<td class="col-xs-1">
							Cannoli relleno de chocolate
						</td>
						<td class="col-xs-1">
							Licor de chocolate
						</td>
						<td class="col-xs-1">
                            Figuras de chocolate
	       				</td>
     					</tr>
						<tr>
						<td class="col-xs-1">
							Chesscake
						</td>
						<td class="col-xs-1">
							Volcan de Chocolate
						</td>
						<td class="col-xs-1">
							Galletas
						</td>
						</tr>
					
					
				</table>
               </tbody>

        <body>
	    <img src="D:/Lenguajes de 4/www/img/choco3.jpg" alt = “nombre alternativo” align= “” border=“” height=“” width=“”>
		
		</br></br>
		<h3>PEDIDOS</h3>

		<button type="button" class="btn btn-info" ng-click="NuevaTarea()">Pedido</button>
		<table class="table table-bordered">
			<thead>
				<tr>

					<td class="col-xs-1">
						Opcion
					</td>
					<td class="col-xs-1">
						Cantidad
					</td>
					<td class="col-xs-1">
						Accion
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="List in todo">

					<td class="col-xs-1">
						{{List.Label}}
					</td>
					<td class="col-xs-1">
						{{List.Cantidad}}
					</td>
					<td class="col-xs-1">
						<button type="button" ng-click="borrar(List.Id)" >Borrar</button>
					</td>
				</tr>
			</tbody>

		</table>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Opcion</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" ng-model="Opcion"></input>
		
		<h4 class="modal-title">Cantidad</h4>
        <input type="text" class="form-control" ng-model="Cantidad"></input>
      
	  </div>
	  
      <div class="modal-footer">
        <button ng-click="GrabarTask()" type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>



	</body>
</html>